@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "View Authentication Data";
}
<div class="card">
    <div class="card-header">
        Datos del usuario autenticado
    </div>
    <div class="card-body">
        <h2>Claims</h2>
        <dl>
            @foreach (var Claim in User.Claims)
            {
                <dt>@Claim.Type</dt>
                <dt>@Claim.Value</dt>
            }
        </dl>
        <h2>Propiedades</h2>
        <dl>
            @foreach (var Prop in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <dt>@Prop.Key</dt>
                <dt>@Prop.Value</dt>
            }
        </dl>
    </div>
</div>